<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap 5 CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            background-color: #f8f9fa;
        }
        .sidebar {
            height: 100vh;
        }
    </style>
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Admin Panel</span>
            <span class="text-light">Hoşgeldin, @User.Identity.Name</span>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">

            <!-- SIDEBAR -->
            <div class="col-md-2 bg-light sidebar p-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Kullanıcılar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Products/Index">Ürünler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ProductImages/Index">Ürün Resim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ProductApi/Index">Api Ürünler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Categories/Index">Kategoriler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="/Login/Logout">Çıkış</a>
                    </li>
                </ul>
            </div>

            <!-- MAIN CONTENT -->
            <div class="col-md-10 p-4">
                <!--orta kısım-->
                @RenderBody()
                <!--Diğer Sayfalar gelecek-->
                <!-- CARDS -->
             

                <!-- TABLE -->
                

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
