@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if(SignInManager.IsSignedIn(User))
{
    <a href="" class="btn btn-primary">@User.Identity.Name
    </a>
    <a href="/Login/Logout" class="btn btn-danger">Çıkış</a>
}
else
{
    <div class="d-flex align-items-center">
        <button class="btn btn-outline-primary me-2 btn-sm" data-bs-toggle="modal" data-bs-target="#loginModal">Giriş Yap</button>
        <button class="btn btn-primary btn-sm me-3" data-bs-toggle="modal" data-bs-target="#registerModal">Kayıt Ol</button>
        <a href="#" class="text-dark"><i class="bi bi-cart3 fs-5"></i></a>
    </div>
}